- options = { }
- if session[:target_location]
  - options["center_latitude"] = session[:target_location].first
  - options["center_longitude"]= session[:target_location].last
  - options["zoom"] = 12
  - options["auto_adjust"]=false
- else
  - options["center_latitude"] = 51.165691 #germany
  - options["center_longitude"]= 10.451526 #germany
  - options["zoom"] = 5
  - options["auto_adjust"]=false
= gmaps({                                                                                     |
  "map_options" => options,                                                                   |
  "markers" => {"data" => @json} |
  })                                                                                          |
