- options = { }
- options["id"] = "minimap"

= gmaps({                                                                                     |
  "map_options" => options,                                                                   |
  "markers" => {"data" => @json} |
  })                                                                                          |
