- letters = ('A'..'Z').to_a
- projects.each do |project|
  .span3
    .thumbnail.project_item
      = image_tag project.image.url(:thumb)
      %h4
        = image_tag 'http://www.google.com/intl/en_ALL/mapfiles/marker_green'+ letters.delete_at(0).to_s + '.png', :size => "16x16"
        = link_to project.title, project
      -#%p= truncate(project.description , :length => 50 ,:separator => ' ')