/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require gmaps4rails
 *= require imports
 */

div.per3 > div:nth-child(3n+1) {
  clear: left;
  margin-left: 0px;
  min-height: 50px;
}

div.fixedMinHeight {
	min-height: 150px;
}

div.centeredText {
	text-align: center;
}

div.project_item {
	min-height:130px;
}

span.projects_near {
	font-size: 14pt;
}


